@-moz-keyframes pop-horizontal  { 
    0% {
        -moz-transform: rotateY(90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-webkit-keyframes pop-horizontal  { 
    0% {
        -webkit-transform: rotateY(90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-o-keyframes pop-horizontal  { 
    0% {
        -o-transform: rotateY(90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-ms-keyframes pop-horizontal  { 
    0% {
        -ms-transform: rotateY(90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@keyframes pop-horizontal  { 
    0% {
        transform: rotateY(90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}

@-moz-keyframes pop-horizontal-right  { 
    0% {
        -moz-transform: rotateY(-90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-webkit-keyframes pop-horizontal-right  { 
    0% {
        -webkit-transform: rotateY(-90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-o-keyframes pop-horizontal-right  { 
    0% {
        -o-transform: rotateY(-90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-ms-keyframes pop-horizontal-right  { 
    0% {
        -ms-transform: rotateY(-90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@keyframes pop-horizontal-right  { 
    0% {
        transform: rotateY(-90deg);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}

@-moz-keyframes pop-horizontal-translate  { 
    0% {
        -moz-transform: rotateY(90deg) translateX(75%);
        height: 80px;
    }
    100% { 
        height: 111px; 
    }
}
@-webkit-keyframes pop-horizontal-translate  { 
    0% {
        -webkit-transform: rotateY(90deg) translateX(75%);
        height: 80px;
    }
    100% {
        height: 111px; 
    }
}
@-o-keyframes pop-horizontal-translate  { 
    0% {
        -o-transform: rotateY(90deg) translateX(75%);
        height: 80px;
    }
    100% {
        height: 111px; 
    }
}
@-ms-keyframes pop-horizontal-translate  { 
    0% {
        -ms-transform: rotateY(90deg) translateX(75%);
        height: 80px;
    }
    100% {
        height: 111px; 
    }
}
@keyframes pop-horizontal-translate  { 
    0% {
        transform: rotateY(90deg) translateX(75%);
        height: 80px;
    }
    100% {
        height: 111px; 
    }
}

@-moz-keyframes pop-horizontal-right-translate  { 
    0% {
        -moz-transform: rotateY(-90deg) translateX(-75%);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-webkit-keyframes pop-horizontal-right-translate  { 
    0% {
        -webkit-transform: rotateY(-90deg) translateX(-75%);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-o-keyframes pop-horizontal-right-translate  { 
    0% {
        -o-transform: rotateY(-90deg) translateX(-75%);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@-ms-keyframes pop-horizontal-right-translate  { 
    0% {
        -ms-transform: rotateY(-90deg) translateX(-75%);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
@keyframes pop-horizontal-right-translate  { 
    0% {
        transform: rotateY(-90deg) translateX(-75%);
        height: 80px;
    }
    100% {
        height: 111px; 

    }
}
