@-moz-keyframes pop-vertical  { 
    0% {
        -moz-transform: rotateX(-90deg) translateY(75%);
        height: 80px;
    }
    100% {
        -moz-transform: rotateX(0deg)   translateY(0%); 
        height: 111px; 

    }
}
@-webkit-keyframes pop-vertical  { 
    0% {
        -webkit-transform: rotateX(-90deg) translateY(75%);
        height: 80px;
    }
    100% {
        -webkit-transform: rotateX(0deg)   translateY(0%); 
        height: 111px; 

    }
}
@-o-keyframes pop-vertical  { 
    0% {
        -o-transform: rotateX(-90deg) translateY(75%);
        height: 80px;
    }
    100% {
        -o-transform: rotateX(0deg)   translateY(0%); 
        height: 111px; 

    }
}
@-ms-keyframes pop-vertical  { 
    0% {
        -ms-transform: rotateX(-90deg) translateY(75%);
        height: 80px;
    }
    100% {
        -ms-transform: rotateX(0deg)   translateY(0%); 
        height: 111px; 

    }
}
@keyframes pop-vertical  { 
    0% {
        transform: rotateX(-90deg) translateY(75%);
        height: 80px;
    }
    100% {
        transform: rotateX(0deg)   translateY(0%); 
        height: 111px; 

    }
}


